<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
      // <![CDATA[
      function loading() {
        $(".loading").show();
        $(".content").hide();
      }
      // ]]>
    </script>
    <style>
      .loading {
        display: none;
      }
      .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        display: show;
        height: 120px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
      }

      /* Safari */
      @-webkit-keyframes spin {
        0% {
          -webkit-transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
        }
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    </style>
    <title>Audio Transcriber WebApp</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-6 mx-auto mt-5 text-center">
          <h1 class="mb-5">Audio Transcriber</h1>

          <form method="post" enctype="multipart/form-data">
            {{form.hidden_tag()}} {% for error in form.media.errors %}
            <span style="color: red"> {{error}} </span>
            {% endfor %}
            <div class="row justify-content-center">
              <div class="col-auto">{{form.media(class="form-control")}}</div>
              <div class="col-auto">
                {{form.submit(class="btn btn-success")}}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% if file_url %}
    <div class="loading">
      <div class="d-flex align-items-center justify-content-center mt-5">
        <div class="loader"></div>
      </div>
      <div class="d-flex align-items-center justify-content-center mt-5">
        <h2>Processing...</h2>
      </div>
    </div>
    <div class="content">
      <div class="d-flex align-items-center justify-content-center w-80 mt-5">
        <audio controls>
          <source src="{{ file_url }}" type="audio/mpeg" />
        </audio>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-6 mx-auto mt-5 text-center">
            <form action="/transcribe/{{filename}}" method="post">
              <button
                class="btn btn-primary"
                name="transcribe"
                type="submit"
                onclick="loading();"
              >
                Transcribe
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </body>
</html>
