<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <title>Audio Transcriber WebApp</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-6 mx-auto mt-5 text-center">
          <h1 class="mb-5">Audio Transcriber</h1>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-center w-80 mt-5">
      <embed src="{{ file_url }}"" width="500" height="400"></embed>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-6 mx-auto mt-5 text-center">
          <a
            class="btn btn-success"
            href="{{url_for('download', filename=filename)}}"
          >
            Download
          </a>
          <a class="btn btn-danger" href="/"> Back </a>
        </div>
      </div>
    </div>
  </body>
</html>
